@import "button";
@import "navbar";

#editor-view {
  background-color: #f8f9fa;
  overflow-x: scroll;
}

#editor {
  min-height: 1056px;
  width: 826px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.19);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.19);
  padding: 96px;
}
